* {
    margin: 0px;
    padding:0px;
}
#navBar{
    height:50px;
    width: 100%;
    display:flex;
    justify-content: center;
    background-color: black;
}
#navBar p{
    margin: 5px 10px;
    font-size: xx-large;
    margin-right: 20px;
    color: whitesmoke;
}
#nav-links{
    margin-right: 150px;
    color: whitesmoke;
}
button{
    margin:10px;
    width:80px;
    margin-left: 70px;
    background-color: rgb(85, 167, 199);
    color: white;
}
ul li{
    display: inline-block;
    margin: 15px 5px;
}
#pageContainer{
    display: flex;
    justify-content: center;
    align-content: space-around;
}

#userCard{
    margin: 30px 15px;
}
#userCard-Top{
    width: 406px;
    height: 100px;
    background-color: rgb(97, 179, 204);
}
#userCard-Bottom{
    height:230px;
    width:400px;
    border-style:solid;
    border-top: none;
    border-color: lightgray;
    display: flex;
    flex-direction: column;
}
#jane{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 30px;
    position:relative;
    top: 47px;
}
h1{
    margin-top: 50px;
    margin-left: 20px;
}
#city{
    display: flex;
    margin-left: 25px;
    margin-top: 10px;
}
#scranton{
    margin-left: 10px;
}
#userInfo{
    margin-left: 20px;
    margin-top: 15px;
}
#userInfo p{
    padding-bottom: 5px;
}
#userCard a{
    margin-left: 20px;
    margin-top: 15px;
}
#map{
    height: 15px;
    width: 10px;
    margin-top: 1px;
}
#gear{
    height: 20px;
}
#edu-Box{
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}
#eduHead{
    width: 406px;
    height: 50px;
    background-color: rgb(43, 41, 41);
    color: whitesmoke;
}
#eduHead h3{
    margin-left: 35px;
    margin-top: 15px;
}
#edBody{
    height:85px;
    width:400px;
    border-style: solid;
    border-top: none;
    border-color: lightgray;
}
#edBody p{
    margin: 8px 20px;
}
#date{
    color: gray;
    font-size: smaller;
}
/* right side----------------------------- */

#rightSide img{
    height:30px;
    width:30px;
    border-radius: 50%;
    margin-left: 10px;
}
#crBox{
    margin: 30px 15px;
}
#crHead{
    width:216px;
    height:50px;
    background-color: rgb(43, 41, 41);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#two{
    background-color: gray;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
}
#crBody{
    width:210px;
    height:100px;
    border-style: solid;
    border-top: none;
    border-color: lightgray;
    display: flex;
    flex-direction: column;
}
.crPeople{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 10px;
}
.names{
    margin: 7px 5px 0px 20px;
}
#ycBox{
    margin:0px 15px;
}
#ycHead{
    width:206px;
    height:50px;
    background-color: rgb(43, 41, 41);
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
#fiveHundred{
    background-color: gray;
    height: 25px;
    width: 45px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
#ycBody{
    width:210px;
    height:230px;
    border-style: solid;
    border-top: none;
    border-color: lightgray;
    display: flex;
    flex-direction:column;
}
#ycBody .ycImg{
    margin-top: 10px;
}
.namesYC{
    margin-left: 10px;
    position:relative;
    bottom: 10px;
}
#viewMore{
    margin-right:5px;
    width:190px;
    border-top: solid;
    border-color: lightgray;
    padding: 10px;
    color: rgb(38, 111, 170);
    margin-top: 10px;
}




